<div class="backdrop-buy is-hidden" data-modal-b>
  <div class="buy-modal">
    <button type="button" class="close-button-buy" data-modal-close-b>
<svg class="buynow-close-icon" width="16" height="16">
        <use href="/src/images/icons/icons.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </button>

    <h2 class="modal-buy-title">Buy <span class="title-span">now</span></h2>

    <!-- Images part -->
    <div class="flex-imgs">
      <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img1@1x.jpg"
            alt="chocolate cubes put in an artistic way"
            srcset="
              /src/images/buy-now-modal/img1@1x.jpg 1x,
              /src/images/buy-now-modal/img1@2x.jpg 2x
            "
          />
          <p class="img-description">100g</p>
        </div>
      </div>
      <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img2@1x.jpg"
            alt="milk and white chocolate cubes stack one on another in a pile"
            srcset="
              /src/images/buy-now-modal/img2@1x.jpg 1x,
              /src/images/buy-now-modal/img2@2x.jpg 2x
            "
          />
          <p class="img-description">200g</p>
        </div>
      </div>
      <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img3@1x.jpg"
            alt="two naked chocolate bars"
            srcset="
              /src/images/buy-now-modal/img3@1x.jpg 1x,
              /src/images/buy-now-modal/img3@2x.jpg 2x
            "
          />
          <p class="img-description">300g</p>
        </div>
      </div>
    </div>

    <!-- Personal Information Form (Moved inside the modal) -->
    <form class="buy-modal-form">
      <div class="">
        <label for="user-name" class="buy-modal-label">Personal information</label>
        <div class="personal-inf">
          <input
            class="buy-modal-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            pattern="^[a-zA-Zа-яА-Я]+$"
            minlength="3"
            required
          />

          <label for="user-surname" class="buy-modal-label"></label>
          <input
            class="buy-modal-input"
            type="text"
            name="user-surname"
            id="user-surname"
            pattern="^[a-zA-Zа-яА-Я]+$"
            minlength="3"
            placeholder="Surname"
            required
          />
        </div>
        <label for="user-email" class="buy-modal-label">Email</label>
        <input
          class="buy-modal-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Enter your email"
          required
        />

        <div class="modal-icon-box-buy">
          <label for="user-phone" class="buy-modal-label">Phone number</label>
          <input
            class="buy-modal-input-phone"
            type="number"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
            required
            pattern="[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}"
            title="XX-XXX-XX-XX"
          />
          <svg
            width="32"
            height="24"
            viewBox="0 0 32 24"
            xmlns="http://www.w3.org/2000/svg"
            class="icon-flag-buy"
          >
            <use href="/src/images/icons/icons.svg#icon-Flag"></use>
          </svg>
               <span class="buy-input-tel-text">+380</span>
        </span>
        </div>
        <div class="modal-icon-box-buy">
          <label for="user-card" class="buy-modal-label">Card number</label>
          <input
            class="buy-modal-input"
            type="number"
            name="user-card"
            id="user-card"
            placeholder="Enter card"
            required
          />
          <svg
            width="44"
            height="30"
            viewBox="0 0 30 18"
            xmlns="http://www.w3.org/2000/svg"
            class="icon-mastercard-buy"
          >
            <use href="/src/images/icons/icons.svg#icon-Mastercard"></use>
          </svg>
        </div>
        <label for="user-comment" class="buy-modal-label">Comment</label>
        <textarea
          placeholder="Enter text"
          class="buy-modal-comment"
          name="user-comment"
          id="user-comment"
          resize="none"
        ></textarea>
      </div>
      <button type="submit" class="buy-modal-submit">Submit</button>
    </form>
  </div>
</div>
