<!-- ___________________________________________________ M O D A L ____________________-->
<div class="buy-modal" data-modal-buy>
  <div class="backdrop is-hidden">
    <button type="button" class="close-button" data-modal-close-buy>x
      <svg
        class="icon-close-button"
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="8"
        viewBox="0 0 8 8"
      >
        <use href=""></use>
      </svg>
    </button>
    <h2 class="modal-buy-title">Buy <span class="title-span">now</span></h2>
    <div class="flex-imgs">
      <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img1@1x.jpg"
            alt="chocolate cubes put in an artistic way"
            srcset="
              /src/images/buy-now-modal/img1@1x.jpg 1x,
              /src/images/buy-now-modal/img1@2x.jpg 2x
            "
          />
          <p class="img-description">100g</p>
        </div>
        </div>
        <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img2@1x.jpg"
            alt="milk and white chocolate cubes stack one on another in a pile"
            srcset="
              /src/images/buy-now-modal/img2@1x.jpg 1x,
              /src/images/buy-now-modal/img2@2x.jpg 2x
            "
          />
          <p class="img-description">200g</p>
        </div>
      </div>
      <div class="modal-buy-imgs-box">
        <div class="img-box">
          <img
            class="modal-buy-img"
            src="/src/images/buy-now-modal/img3@1x.jpg"
            alt="two naked chocolate bars"
            srcset="
              /src/images/buy-now-modal/img3@1x.jpg 1x,
              /src/images/buy-now-modal/img3@2x.jpg 2x
            "
          />
          <p class="img-description">300g</p>
        </div>
      </div>
      </div>
    </div>
    <form class="buy-modal-form">
      <div class="">
        <label for="user-name" class="buy-modal-label">Personal information</label>
        <input class="buy-modal-input" type="text" name="user-name" id="user-name" placeholder="Name" required />

        <label for="user-surname" class="buy-modal-label"></label>
        <input class="buy-modal-input" type="text" name="user-surname" id="user-surname" placeholder="Surname" required />

        <label for="user-email" class="buy-modal-label">Email</label>
        <input class="buy-modal-input" type="email" name="user-email" id="user-email" placeholder="Enter your email" required />

        <div>
          <label for="user-phone" class="buy-modal-label">Phone number</label>
          <input class="buy-modal-input" type="number" name="user-phone" id="user-phone" placeholder="Phone number" required />
          <svg width="18" height="24" class="">
            <use href=""></use>
          </svg>
        </div>
        <div>
          <label for="user-card" class="buy-modal-label">Card number</label>
          <input class="buy-modal-input" type="number" name="user-card" id="user-card" placeholder="Enter card" required />
          <svg width="18" height="24" class="">
            <use href=""></use>
          </svg>
        </div>
                 <label for="user-comment" class="buy-modal-label">Comment</label>
          <textarea
            placeholder="Enter text"
            class="buy-modal-comment"
            name="user-comment"
            id="user-comment"
          ></textarea>
              </div>
      <button type="submit" class="buy-modal-submit">Submit</button>
    </form>
  </div>

