<header>
        <div class="header-container">
            <nav class="navigation">
              <div class="chocolate-title">
                <p class="chocolate"><i>SIMPLY</i> CHOCOLATE</p>
                <svg width="24" height="24">
                  <use href="/src/images/icons/icons.svg#icon-chocolate"></use>
                </svg>
              </div>
            <ul class="menu">
              <li>
                <a href="/src/index.html">Home</a>
              </li>
              <li>
                <a href="/src/partials/html/how-its-made.html">How it's made?</a>
              </li>
              <li>
                <a href="/src/partials/html/our-Product">Our products</a>
              </li>
              <li>
                  <a href="/src/partials/html/how-its-made.html">Top sellers</a>
              </li>
              <li>
                  <a href="">Chocolate is loved</a>
              </li>
            </ul>
            <address class="social-icons">
            <ul class="">
              <li>
                <a href="https://www.instagram.com/" 
                  ><svg  class="header-icon" width="24" height="24">
                  <use href="/src/images/icons/icons.svg#icon-instagram"></use>
                </svg>
                
                </a>
              </li>
              <li>
                <a href="https://twitter.com/"
                  ><svg class="header-icon" width="24" height="24">
                  <use href="/src/images/icons/icons.svg#icon-twitter"></use>
                </svg></a>
              </li>
            </ul>
          </address>
          <button id="toggle-button"
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
              <path d="M3.5 14H24.5M3.5 7H24.5M3.5 21H24.5" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
          </nav>
        </div>
    </header>

    <!--mobile menu toggle -->

    <div
      class="menu-container menu-is-hidden js-menu-container"
      id="mobile-menu">
      <div class="js-close-button js-close-menu">
        <svg class="x-button" width="28" height="28">
          <use href="/src/images/icons/icons.svg#icon-x-close"></use>
        </svg>
      </div>

      <ul class="mobile-menu">
        <li><a href="/src/index.html" class="link">Home</a></li>
        <li><a href="/src/partials/html/how-its-made.html" class="link">How it's made?</a></li>
        <li><a href="/src/partials/html/our-products" class="link">Our products</a></li>
        <li><a href="/src/partials/html/top-sellers.html" class="link">Top sellers</a></li>
        <li><a href="" class="link">Chocolate is loved</a></li>
      </ul>
      <ul class="icons-toggle">
          <li>
            <a href="https://www.instagram.com/" >
              <svg class="toggle-svg" width="24" height="24">
                  <use href="/src/images/icons/icons.svg#icon-instagram"></use>
                </svg>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/">
              <svg class="toggle-svg" width="24" height="24">
                  <use href="/src/images/icons/icons.svg#icon-twitter"></use>
                </svg>
            </a>
          </li>
        </ul>
    </div>
  </div>
 
  </body>
  