<!-- modal -->

<div class="backdrop is-hidden" data-modal-r>
  <div class="modal">
    <div class="close-button-position" data-modal-close-r>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

        <path d="M6 6L18 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

     
        </svg>
    </div>
    
    <h2 class="modal-title">LEAVE A REVIEW <br> ABOUT <span class="modal-title_orange">OUR CHOCOLATE</span></h2>

    <form class="modal-form-look">
    
        <label class="label-look" for="user-name"></label>
          <input class="input-look" type="text" name="username" placeholder="Name" id=user-name required/>
          

        <label class="label-look" for="e-mail"></label>
          <input class="input-look" type="email" name="email" placeholder="Enter tour email" id="e-mail" required>
          
         <div>
         
          <label class="label-look" for="phone-number"></label>
           <input class="input-look-phone" type="tel" name="phone" id="phone-number" placeholder="Phone number">
            <div class="flag-prefix">
              <svg class="flag" width="24" height="18">
                <use href="/src/images/icons/icons.svg#icon-Flag"></use>
              </svg>
              <p class="prefix">+380</p>
              <div class="rentlage"></div>
            </div>
          </div>
          
          <label class="label-look-textarea" for="text-area"></label>
          <input class="input-look_textarea" type="text" name="textarea" placeholder="Enter text" id="text-area">
        
        <button class="send-button" type="submit">Send</button>

    </form>
    
  </div>
</div>