<!-- modal -->

<div class="backdrop is-hidden" data-modal-r>
  <div class="modal">
    <div class="close-button-position" data-modal-close-r>
<svg class="leave-close-icon" width="16" height="16">
        <use href="/src/images/icons/icons.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </div>
    <form class="modal-form-look">
    
      <h2 class="modal-title">LEAVE A REVIEW <br> ABOUT <span class="modal-title_orange">OUR CHOCOLATE</span></h2>
        <label class="label-look">
          <input class="input-look" type="text" name="username" placeholder="Name" />
          <input class="input-look" type="email" name="email" placeholder="Enter tour email">
                  <div class="leave-icon-box-buy">
          <label for="user-phone" class="leave-modal-label"></label>
          <input
            class="leave-modal-input-phone"
            type="number"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
            required
            pattern="[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}"
            title="XX-XXX-XX-XX"

          />
          <svg
            width="32"
            height="24"
            viewBox="0 0 32 24"
            xmlns="http://www.w3.org/2000/svg"
            class="leave-flag-buy"
          >
            <use href="/src/images/icons/icons.svg#icon-Flag"></use>
          </svg>
               <span class="leave-input-tel-text">+380</span>
        </span>
        </div>
          <input class="input-look_textarea" type="text" name="textarea" placeholder="Enter text">
        </label>
        <button class="send-button" type="submit">Send</button>
      </form>
    </form>
  </div>
</div>