<!-- modal -->

<div class="backdrop is-hidden" data-modal-r>
  <div class="modal">
    <div class="close-button-position">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-modal-close-r/>
        </svg>
    </div>
    <form class="modal-form-look">
    
      <h2 class="modal-title">LEAVE A REVIEW <br> ABOUT <span class="modal-title_orange">OUR CHOCOLATE</span></h2>
        <label class="label-look">
          <input class="input-look" type="text" name="username" placeholder="Name" />
          <input class="input-look" type="email" name="email" placeholder="Enter tour email">
          <div class="flag">
            <div>
            <div class="flag-top"></div>
            <div class="flag-bottom"></div>
          </div>
            <div class="flag-number">+380</div>
            <div><input class="flag-phone" type="tel" name="phone" id="phone" placeholder="Phone number"></div>
          </div>
          <input class="input-look_textarea" type="text" name="textarea" placeholder="Enter text">
        </label>
        <button class="send-button" type="submit">Send</button>
      </form>
    </form>
  </div>
</div>