/* __________MOBILE __________*/

/*__________Advantages__________ */

.advantages {
    padding: 20px;
    background-color: #1e1823;
    color: white;
    padding-right: 45px;
    margin-top: 71px;
    gap: 20px;
  }
  
  .advantages-icons {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .advantages-text {
    color: white 70%;
    height: auto;
    width: 308px;
  }
  

  /*__________TABLET*__________*/

@media (min-width: 769px) and (max-width: 1199px) {

    .advantages {
        display: flex;
        flex-wrap: wrap;
      }
      .advantages-element {
        width: calc(33.33% + 65px);
        margin: 10px;
      }
    }

    /*__________DESKTOP__________*/

@media (min-width: 1200px) {

    .advantages {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #1e1823;
        color: white;
        padding-right: 45px;
        margin-top: 71px;
        gap: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .mark {
        width: 1px;
        height: 124px;
        background: rgba(255, 255, 255, 0.5);
      }
    }