/* __________MOBILE __________*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 19px;
  
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .chocolate-title {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .chocolate {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.42px;
  }

  .menu {
    display: none;
    gap: 50px;
  }
  
  .menu li {
    display: inline;
    gap: 50px;
  }
  
  .social-icons li {
    display: none;
  }


  /*__________DESKTOP__________*/

@media (min-width: 1200px) {

  
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 24px;
      padding-left: 20px;
      font-size: 14px;
      margin-top: 19px;
      margin-right: 20px;
    }
  
    .chocolate {
      color: #111;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.54px;
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
    }
    .menu {
      display: flex;
      gap: 24px;
      
    }
    .social-icons{
      width: 100px;
    
      justify-content: space-between;
      align-items: center;
    }
    .social-icons li {
      display: inline-flex;
      gap: 30px;

      
    }
    .menu a {
      text-decoration: none;
      color: black;
    }
  
    #toggle-button {
      display: none;
    }
}  



/*mobile menu toggle */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding-top: 150px;
  top: 0;
  right: 0;
  width: 236px;
  height: 100%;
  background-color: #1e1823;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  font-size: 16px;
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding-right: 30px;
}
.mobile-menu .link:after{
  content: "";
  position:absolute;
  background-color: #fd9222;
  height: 0.3px;
  width: 0;
  display: flex;
  margin: auto;
}
.mobile-menu .link:hover::after{
  width: 50%;
  transition: width 0.3s linear;
}

.mobile-menu .link {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-menu .link:hover {
  color: #fd9222;
}

.icons-toggle {
  display: inline-flex;
  justify-content: left;
  gap: 18px;
  list-style: none;
  padding-right: 150px;
  
}

.toggle-svg:hover{
  filter: brightness(0) saturate(100%) invert(71%) sepia(43%) saturate(4333%) hue-rotate(344deg) brightness(104%) contrast(98%);
}

.js-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-button:hover{
  filter: brightness(0) saturate(100%) invert(71%) sepia(43%) saturate(4333%) hue-rotate(344deg) brightness(104%) contrast(98%);
}