/* __________MOBILE __________*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/src/images/hero/chocolate-covered-cocoa-powder_mobile@1x.jpg),
      lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
    display: flex;
    background-position: 71% 100%;
    background-size: auto 621px;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1400px;
    justify-content: left;
    align-items: end;
    margin: 20px;
    border-radius: 30px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;
  }

  .button-1 {
    width: 120px;
    height: 41px;
    border-radius: 100px;
    background-color: #fd9222;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #fd9222;
  }
  .button-1:hover{
    background-color: #FCF1E0;
    color:#FD9222;
    border: 0;
  }
  .button-2 {
    width: 159px;
    height: 41px;
    border-radius: 100px;
    background-color: transparent;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #fff;
  }
  .button-2:hover{
    background-color: white;
    border-color: #FD9222;
    color: #FD9222;
  }
  .hero-container {
    margin-bottom: 60px;
    margin-left: 20px;
    gap: 15px;
    display: flex;
    width: 295px;
    height: 205px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hero-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    width: 280px;
  }

  .button-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
  }
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .white-circle {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll {
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.36px;
  }
  .scroll-div {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    width: 120px;
  }
  .white-circle:hover {
    background-color:#fd9222;
  }
  .arrow-svg:hover{
    filter: brightness(0) saturate(100%) invert(91%) sepia(95%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(104%);
  }



  /*__________TABLET*__________*/

@media (min-width: 769px)  {

    
      .hero {
        background: linear-gradient(
            180deg,
            rgba(17, 17, 17, 0) 0%,
            rgba(17, 17, 17, 0.4) 100%
          ),
          url(/src/images/hero/chocolate-covered-cocoa-powder_tablet@1x.jpg),
          lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
        display: flex;
        background-position: 71% 100%;
        background-size: auto 621px;
        background-repeat: no-repeat;
        height: 600px;
        max-width: 2500px;
        justify-content: center;
        align-items: end;
        margin: 20px;
        border-radius: 30px;
        color: #fff;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.6px;
        justify-content: flex-start;
        gap: 10px;
        font-size: 28px;
      }
    
      .hero-text {
        height: 200px;
        width: 484px;
        color: #fff;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.84px;
        
      }
      .hero-container {
        gap: 0px;
        margin-bottom: 20px;
        font-size: 28px;
        width: 100%;
        padding-right: 48px;
      }
    
      .button-container {
        display: flex;
        gap: 0px;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
      }
    
      .button-1 {
        width: 144px;
        height: 45px;
      }
      .button-2 {
        width: 183px;
        height: 45px;
      }
      .buttons {
        display: flex;
        gap: 14px;
        width: 500px;
      }
      .scroll {
        padding-bottom: 0px;
        color: #fff;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.42px;
        
      }
      .white-circle {
        width: 38px;
        height: 38px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .scroll-div {
      display: flex;
      align-items: center;
      gap: 18px;
      justify-content: center;
      width: 200px;
  

    }
    .white-circle:hover {
      background-color:#fd9222;
    }
    .arrow-svg:hover{
      filter: brightness(0) saturate(100%) invert(91%) sepia(95%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(104%);
    }
}

    /*__________DESKTOP__________*/

@media (min-width: 1200px) {


  .hero {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/src/images/hero/chocolate-covered-cocoa-powder_desktop@1x.jpg),
      lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
    display: flex;
    background-position: 71% 100%;
    background-size: auto 621px;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 2500px;
    justify-content: center;
    align-items: end;
    margin: 20px;
    border-radius: 30px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 28px;
  }
  .hero-text {
    height: 200px;
    width: 484px;
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
  .hero-container {
    gap: 0px;
    margin-bottom: 20px;
    font-size: 28px;
    width: 100%;
  }

  .button-container {
    display: flex;
    gap: 0px;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .button-1 {
    width: 144px;
    height: 45px;
  }
  .button-2 {
    width: 183px;
    height: 45px;
  }
  .buttons {
    display: flex;
    gap: 14px;
    width: 550px;
  }

  .scroll {
    padding-bottom: 0px;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.42px;
  }
  .white-circle {
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-div {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    width: 200px;
}
}