/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {

.top-selers-section {
    width: 100%;
    padding: 0 20px;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top-selers-headline {
    color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.top-sellers-span {
    color: #111;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.top-sellers-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 20px;
    justify-content: center;
    list-style: none;
}

.top-sellers-p {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    weight: 407px;
}

}